$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

$gray: rgb(57, 62, 70);
$gray-footer: rgb(40, 47, 58);
$gray-bottom: rgb(37, 43, 54);
$gray-medium: rgb(106, 114, 127);
$blue-color: rgb(73, 68, 242);
$gray-light: rgb(247, 248, 249);